<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NumberOfIncorrectLoginAttemptsAllowed" value="5"/>
    <add key="LockoutPeriod" value="1"/>
  </appSettings>
  <connectionStrings>
  <add name="CapstoneDatabase"
         connectionString="Server=LAPTOP-7TEJM6HM\SQLSERVER2017;Database=Campgrounds;Trusted_Connection=Yes;"/>
  </connectionStrings>
    <!--<add name="CapstoneDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Campgrounds;User ID=te_student;Password=sqlserver1"/>-->
  
</configuration>